.col-margin-bottom-1 {
  margin-bottom: 1em;
}

a {
  cursor: pointer;
}

.navbar.main {
  background: #333a44;
  color: white;
  height: 65px;
}


.navbar.main a {
  color: white;
}

.navbar ul {
  list-style: none;
}

.side-bar.col-sm-2 {
  margin-left: 1em;
  border-right: 1px solid #333a44;
}

#product-list.row {
  margin-left: 0;
}

#product-list .row,
#product-finalize-list {
  margin-top: 2em;
}

.row h2,
.categories a,
#categories a {
  color: #333a44;
}

#product-list a,
#product-reveal-list a,
#product-list .row > div {
  color: #01bf86;
}



.container-fluid .row {
  margin-left: 0px;
}

#product-list img,
#product-reveal-list img,
#product-purchased img,
#finish-mission img,
#undergoing-mission img,
#product-finalize-list img {
  width: 80%;
  height: 170px;
	border-radius: 3px;
}

.container-fluid .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
}

#product-list .details,
.container-fluid .title,
#product-finalize-list a {
  color: #333a44;
}

.product .details {
  text-decoration: underline;
}

.time {
  font-style: italic;
}

#product-finalize-list .row > div{
  color: #e76e6e;
}

#product-details-page {
  color: #333a44;
}

#product-details-page h4 {
  margin-top: 0px;
  font-size: 20px;
}

#product-details-page h4.align {
  margin-left: 15px;
  font-style: italic;
}

#product-details-page #product-price {
  color: #01bf86;
}

#product-details-page .bid-details {
  padding: 2em;
}

#product-details-page #product-image {
  padding: 2em 1em;
  /*border: 1px solid #b2bcc8;*/
  border-radius: 10px;
  background-color: white;
}

#product-details-page h1 {
  color: #333a44;
}

#product-details-page h2.product-name {
  color: #01bf86;
  margin-top: 0;
  margin-bottom: 1em
  /*font-size: 1.5em;*/
}

#product-details-page #product-auction-end {
  color: #e76e6e;
  font-style: italic;
  font-size: 17px;
}

#product-details-page #product-reveal {
  margin-top: 3em;
}

#product-details-page button.form-submit {
  background-color: #01bf86;
  color: white;
}

#mission-details {
	margin-top: 50px;
}

#applicants {
	margin-top: 50px;
}

#solver-info {
	margin-top: 90px;
}

body {
}

#escrow-info {
	margin-top: 0px;
}

.category-btn {
	padding: 10px 10px;
}

.title {
  color: #333a44;
	font-size: 1.2em;
	margin-top: 1em;
	font-weight: bold;
	text-align: center;
}

.checked {
	color: orange;
	vertical-align: bottom;
}

#mission-apply {
	padding-top: 120px;
}

.ch-beauty {
	font-family: "Noto Sans TC", sans-serif;
}

.en-beauty {
	font-family: 'Raleway', sans-serif;
}

img {
	border-radius: 3px;
}

#product-desc {
	height: 100%;
	background-color: #F2F2F2;
	padding: 10px;
	border-radius: 5px;
}

.nav-item{
}

#useridtag{
  background-color: #606966;
  height: 55px;
  border-radius: 6px;
  margin-top: 5px;
}

.inside{
	padding: 0px 10px;
  text-align: center;
}

.nav-link{
  font-size: 2.5vh;
  margin: 1vh 0 0 1vw;
}

.navbar-brand{
  font-size:4vh;
  padding-top: 3vh; 
  padding-left: 3vw;
}
.addimg{
  height: 80px;
  width: 80px;
  border-radius: 400vh;
  background-color: #36434b;
  position: fixed;
  bottom: 7%;
  right: 3%;
}
.addbut{
  font-size: 300%;
}
.deploymission{
  background-color: #dddcff;
  border-radius: 5vh;
  width: 60%;
  padding-bottom: 20px;
  position: absolute;
  top: 20vh;
  left: 20vw;
}
.closebutton{
  position: absolute;
  border-radius: 8vh;
  left: 2vw;
}

.btn-primary:hover {
	background-color: #2b2d2f;
	border-color: #2b2d2f;
}

.btn-primary {
	border-color: #2b2d2f;
	background-color: #36434b;
}
